@model Resident

<h2>@Model.Name - @Model.Surname</h2>

<div class="img-thumbnail">
    
        <h3>@Model.MetersOfFlat m2</h3>
        <h3>@Model.HotWaterConsumption</h3>
        <h3>@Model.ColdWaterConsumption</h3>
   
</div>