@model FeeSystem.ViewModels.HomeVM


 <h1>@Model.Title</h1>

    @foreach(var resident in Model.Residents)
    {
        <div>
            <h2>Imie:@resident.Name</h2>
            <h2>@resident.Surname</h2>
            <h3>@resident.MetersOfFlat m2</h3>
            <h3>@resident.HotWaterConsumption</h3>
            <h3>@resident.ColdWaterConsumption</h3>
        </div>
    }
