@model HomeVM


<h1 class="my-own-header">@Model.Title</h1>



@foreach (var resident in Model.Residents)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail mb-4">
            <div class="figure-caption">
                <a class="resident-link" asp-controller="Home" asp-action="Details" asp-route-id="@resident.Id"><h2>@resident.Name @resident.Surname</h2></a>
                <h4>Metraż: @resident.MetersOfFlat m2</h4>
                <h5>Zużycie wody-ciepła: @resident.HotWaterConsumption</h5>
                <h5>Zużycie wody-zimna: @resident.ColdWaterConsumption</h5>
                <h6>Numer płatnika: 235-@resident.ReturnPayerNumber()</h6>
                
                
            </div>
        </div>

    </div>
}
